body {
    display: flex;
    background-image: url("../tutorsite/assets/wall3.svg");
    color: white;
}

.loginbox-student {
    background-color: rgb(223, 114, 25);

    margin: 20px;
    
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    box-shadow: black 0px 0px 10px 0px;
}

.loginbox-teacher {
    background-color: rgb(50, 107, 173);


    margin: 20px;
    
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    box-shadow: black 0px 0px 10px 0px;
}

form, h1 {
    margin: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: underline wheat;
}


p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

